@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-body: var(--font-geist-mono), sans-serif;
  --font-heading: var(--font-geist-sans), sans-serif;

  --color-base-black: #000000ff;
  --color-base-white: #ffffffff;
  --color-done-100: #d1fadfff;
  --color-done-200: #a6f4c5ff;
  --color-done-25: #f6fef9ff;
  --color-done-300: #6ce9a6ff;
  --color-done-400: #32d583ff;
  --color-done-50: #ecfdf3ff;
  --color-done-500: #12b76aff;
  --color-done-600: #039855ff;
  --color-done-700: #027a48ff;
  --color-done-800: #05603aff;
  --color-done-900: #054f31ff;
  --color-error-danger-100: #fee4e2ff;
  --color-error-danger-200: #fecdcaff;
  --color-error-danger-25: #fffbfaff;
  --color-error-danger-300: #fda29bff;
  --color-error-danger-400: #f97066ff;
  --color-error-danger-50: #fef3f2ff;
  --color-error-danger-500: #f04438ff;
  --color-error-danger-600: #d92d20ff;
  --color-error-danger-700: #b42318ff;
  --color-error-danger-800: #912018ff;
  --color-error-danger-900: #7a271aff;
  --color-gray-100: #f2f4f7ff;
  --color-gray-200: #eaecf0ff;
  --color-gray-25: #fcfcfdff;
  --color-gray-300: #d0d5ddff;
  --color-gray-400: #98a2b3ff;
  --color-gray-50: #f9fafbff;
  --color-gray-500: #667085ff;
  --color-gray-600: #475467ff;
  --color-gray-700: #344054ff;
  --color-gray-800: #1d2939ff;
  --color-gray-900: #101828ff;
  --color-primary-100: #d6e5fcff;
  --color-primary-200: #aecfffff;
  --color-primary-25: #f8fbffff;
  --color-primary-300: #7cb2ffff;
  --color-primary-400: #398affff;
  --color-primary-50: #eff6ffff;
  --color-primary-500: #0766efff;
  --color-primary-600: #0457ceff;
  --color-primary-700: #024ca5ff;
  --color-primary-800: #023174ff;
  --color-primary-900: #02285dff;
  --color-secondary-100: #ddfdffff;
  --color-secondary-200: #bffbffff;
  --color-secondary-25: #f8ffffff;
  --color-secondary-300: #94f9ffff;
  --color-secondary-400: #4df4ffff;
  --color-secondary-50: #edfeffff;
  --color-secondary-500: #07e2f0ff;
  --color-secondary-600: #01c7d3ff;
  --color-secondary-700: #009ea8ff;
  --color-secondary-800: #007178ff;
  --color-secondary-900: #005055ff;
  --color-warning-100: #ffefd1ff;
  --color-warning-200: #ffe1a7ff;
  --color-warning-25: #fffcf8ff;
  --color-warning-300: #ffcd6cff;
  --color-warning-400: #ffbc3cff;
  --color-warning-50: #fff8ebff;
  --color-warning-500: #f0a007ff;
  --color-warning-600: #c38204ff;
  --color-warning-700: #8f6004ff;
  --color-warning-800: #684602ff;
  --color-warning-900: #412c02ff;

  --text-h1-desktop: 72px;
  --text-h1-phone: 56px;
  --text-h2-desktop: 60px;
  --text-h2-phone: 48px;
  --text-h3-desktop: 48px;
  --text-h3-phone: 44px;
  --text-h4-desktop: 36px;
  --text-h4-phone: 24px;
  --text-h5-desktop: 30px;
  --text-h5-phone: 20px;
  --text-h6-desktop: 24px;
  --text-h6-phone: 24px;
  --text-text-xl-desktop: 20px;
  --text-text-xl-phone: 20px;
  --text-text-lg-desktop: 18px;
  --text-text-lg-phone: 18px;
  --text-text-md-base-desktop: 16px;
  --text-text-md-base-phone: 16px;
  --text-text-sm-desktop: 12px;
  --text-text-sm-phone: 12px;

  --shadow-focused-xs-focused-4px-primary-100: 0 0 0 4px #d9ebfd;
  --shadow-focused-xs-focused-4px-secondary-100: 0 0 0 4px #fef0c7;
  --shadow-focused-xs-focused-4px-error-100: 0 0 0 4px #fee4e2;
  --shadow-bottom-centre-xs: 0 2px 4px 0 rgba(16 24 40 / 0.04);
  --shadow-bottom-centre-sm:
    0 2px 2px 0 rgba(16 24 40 / 0.02), 0 4px 10px 0 rgba(16 24 40 / 0.04);
  --shadow-bottom-centre-md:
    0 2px 4px 0 rgba(16 24 40 / 0.02), 0 10px 20px 0 rgba(16 24 40 / 0.04);
  --shadow-bottom-centre-lg:
    0 2px 4px 0 rgba(16 24 40 / 0.02), 0 14px 32px -2px rgba(16 24 40 / 0.06);
  --shadow-bottom-centre-xl:
    0 2px 4px 0 rgba(16 24 40 / 0.02), 0 20px 36px -6px rgba(16 24 40 / 0.08);
  --shadow-bottom-centre-2xl: 0 30px 43px -12px rgba(16 24 40 / 0.12);
  --shadow-bottom-centre-3xl: 0 34px 50px -12px rgba(16 24 40 / 0.14);
  --shadow-top-center-lg:
    0 -2px 4px 0 rgba(16 24 40 / 0.02), 0 -14px 32px -2px rgba(16 24 40 / 0.06);

  --container-xl: 1128px;
}
